* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
}
body{
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li {
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: yellow;
    color: black;
}
.logo img {
    float: left;
    width: 15%;
    height: auto;
}
.main{
    max-width: 1300px;
    margin: auto;
}

.box{
    width: 320px;
    height: 380px;
    background-color: #000000b3;
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 70px 30px;
    box-sizing: border-box;
    border-radius: 10px;
}
.avatar{
    border-radius: 50%;
    position: absolute;
    top: -13%;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.box input{
    width: 100%;
    margin-bottom: 20px;
}
.box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
.box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: pink;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    transition: 0.3s ease;
}
.box input[type="submit"]:hover{
    cursor: pointer;
    background-color: #ffc107;
    color: white;
}
.box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    transition: 0.3s ease;
}
.box a:hover{
    color: #ffc107;
}